/* common css start */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-title {
  padding: 0 10px;
  color: rgba(5, 2, 223, 0.733);
}
/* common css start */

/* header start */
header {
  background-color: rgba(54, 1, 243, 0.911);
}
/* ---------------
    navbar start
  -------------- */
.header-container {
  width: 85%;
  margin: 0 auto;
}
nav {
  overflow: hidden;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0px 30px 20px 0;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: orange;
}
nav a button {
  color: white;
  font-weight: bold;
  background-color: rgb(238, 28, 28);
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}
nav a button:hover {
  background-color: rgb(64, 250, 234);
}
/* navbar end */
.inner-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 35px 0;
}
.america h1 {
  color: rgb(255, 255, 255);
  font-size: 55px;
}
.conbol {
  color: orange;
}
.america a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.america button {
  background-color: rgb(238, 28, 28);
  padding: 12px 20px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
}
.header-container:hover .america button {
  background-color: rgb(64, 250, 234);
}
.inner-header .america button:hover {
  background-color: rgb(55, 10, 255);
}
.header-img img {
  width: 100%;
  height: 100%;
}
/* -----------------
   header section end
   ---------------- */
main {
  background-color: rgb(197, 253, 255);
  margin-bottom: 30px;
}
/* -----------------------
   player section start
   --------------------- */
.container {
  width: 75%;
  margin: 0 auto;
  padding: 1% 2%;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.player {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 3px 10px 0px rgb(214, 210, 210);
}
.player img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* -------------------
   teams section start
   ------------------ */
.team-container {
  width: 85%;
  background-color: rgb(180, 239, 241);
  margin: 30px auto;
  padding: 5% 7.5%;
}
h4 {
  margin: 0;
  padding: 0;
}
.full-team {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
}
.ground {
  grid-column: 1 / -4;
  background-color: white;
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: 2px 3px 10px 0px rgb(214, 210, 210);
}
.ground img {
  width: 100%;
  height: 100%;
}
.football {
  grid-column: 6/ -1;
  text-align: center;
}
.football img {
  width: 80%;
  height: 70%;
}
.world-cup {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 3px 10px 0px rgb(214, 210, 210);
}
.all-player {
  margin-top: 15px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 3px 10px 0px rgb(214, 210, 210);
}

/*-----------------------
   services section start
   -------------------- */
.services-container {
  width: 85%;
  background-color: rgb(180, 239, 241);
  margin: 30px auto;
  padding: 5% 7.5%;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.service {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  border-radius: 10px;
}
.service img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-img {
  width: 80%;
  height: 50%;
  padding: 10px;
}
.trainings {
  width: 100%;
  padding: 10px;
}
/* bottom section start */

.bottom-container {
  width: 100%;
}
.hieghlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.left-area {
  background-color: white;
  padding: 10px 5px;
  border-radius: 15px;
}
.left-area button {
  background-color: rgb(238, 28, 28);
  padding: 12px 15px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
}
.left-area button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.left-area button:hover {
  background-color: rgb(64, 250, 234);
}
.right-area {
  border-radius: 15px;
}
.right-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* ----------------------
   footer section start
   ------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.logo {
  width: 35%;
}
.logo img {
  width: 100%;
  height: 100%;
}
.list ul {
  display: flex;
  margin: 0;
}
.list li {
  background: black;
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
  padding: 5px 8px;
  border-radius: 25px;
  list-style: none;
  transition: 0.5s;
}
.list ul li a {
  color: #fff;
}
.list ul .twitter:hover {
  background: #5eb1d7;
}
.list ul .instagram:hover {
  background: #f0aeaf;
}
.list ul .dribbble:hover {
  background: #da7d9e;
}
.list ul .youtube:hover {
  background: #e93f3a;
}
footer p {
  font-size: 18px;
}
